.gallery {
  width:100vw;
}

.parent {
  display:flex;
  flex-direction:row;
  max-width:inherit;
  height: auto;
  justify-content:center;
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
}

.flexCol {
  max-width:28%;
}

.colImg {
  max-width:98%;
  margin-bottom:1%;
}
.colImg:hover {
  opacity:.9;
}

.buttonBar {
  display: flex;
  margin-bottom: 20px;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.buttonBarMobile {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  padding: 0px;
}

.collectionButton {
  margin-left: auto;
  margin-right: auto;
  padding-right: 7vw;
  padding-left: 7vw;
  background-color:white;
  border:none;
  outline:none;
  text-transform:uppercase;
  font-weight:300;
  font-size:16px;
}

.collectionButton:hover {
  opacity:.6;
}

.collectionButton.bold {
  font-weight:bold;
}
