.cards {
    max-width:90%;
    margin:auto;
    /* display:flex; */
}

.printouts {
    max-width:90vw;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.blankButton {
    max-width:100%;
    max-height:100%;
    background-color:white;
    border:none;
    outline:none;
}

.blankButton .select {
 font-weight:bold;
}