.pdfParent {
  display:flex;
  flex-direction:row;
  max-width:90%;
  height: auto;
  justify-content:center;
  margin-left: auto;
  margin-right: auto;
  vertical-align:middle;
}

.hidden {
  opacity:0.1;
}

.reveal {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}

.pdfCard{
  display:inline-block;
  vertical-align:middle;
}

.blankButton {
  background-color:white;
  border:none;
  outline:none;
}

.pdfLabel{
  display:block;
  color: black;
  font-size: 10px;
  text-transform:uppercase;
  font-weight: 300;
}