.name {
  font-family: 'Noto Sans SC';
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-weight: 200;
  text-transform: uppercase;
  background-color: white;
  border: 0px;
  font-size: 36px;
  margin-bottom: 10px;
  word-spacing: 6px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.name:hover {
  cursor: pointer;
}
