.card {
    width:300px;
    height:300px;
    display:inline-block;
    margin: 10px;
    padding:10px;
    text-align:center;
}

.card:hover {
    color:darkgray;
    opacity:92%;
}

.cardHeading {
    font-weight:300;
    text-transform:uppercase;
    font-size: 26px;
}

.cardImg {
    max-width:100%;
}