.card {
    width:450px;
    height:450px;
    display:inline-block;
    max-width:90vw;
    max-height:90vw;
    margin: 10px;
    padding:10px;
    text-align:center;
}

.card.mobile{
    margin:0px;
    padding:0px;
}

.card:hover {
    color:darkgray;
    opacity:.9;
}

.cardHeading {
    font-weight:300;
    text-transform:uppercase;
    font-size: 26px;
}

.imageFlex {
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100%;
}

.cardImg {
    max-width:100%;
    margin-top:auto;
    margin-bottom:auto;
}