.app {
  width:100%;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  opacity: 0.1;
  visibility: hidden; 
  padding-bottom:150px;
}

.app.show {
  opacity: 1;
  visibility: visible; 
}

.nav {
  list-style-type: none;
  line-height:200%;
  display:block;
  color: black;
  text-decoration:none;
  font-size: 14px;
  text-transform:uppercase;
  padding-left:2%;
  margin-left:2%;
}

.link {
  color:black;
  text-decoration: none;
  font-weight: 200; 
}
.link:hover {
  opacity:.6;
}

.active {
  font-weight: bold;
}