.app {
  width:100%;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  opacity: 0.1;
  visibility: hidden; 
  padding-bottom:150px;
}

.app.show {
  opacity: 1;
  visibility: visible; 
}

.mobile {
  text-align:center;
}

.nav {
  list-style-type: none;
  line-height:200%;
  display:block;
  color: black;
  text-decoration:none;
  font-size: 14px;
  text-transform:uppercase;
  padding-left:2%;
  margin-left:2%;
}

.navMobile {
  list-style-type: none;
  color: black;
  text-decoration:none;
  font-size: 14px;
  text-transform:uppercase;
  padding:10px;
  margin-bottom:50px;
}

.navMobile li {
  padding:10px;
  display:inline !important;
}

.link {
  color:black;
  text-decoration: none;
  font-weight: 200; 
}

.link:hover {
  opacity:.6;
}

.active {
  font-weight: bold;
}

.ig {
  width: 30px;
  height: 30px;
  float:right;
  margin: 20px;
}